.parallax { min-height: 600px !important;}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .descript { height: 154px; }
}

@media (min-width: 1200px) {
}
