.tryout-wrapper .list-tryout { color: #444; }
.tryout-wrapper .list-tryout:hover { color: #FFF; background: #447DF7; }
.tryout-wrapper .list-tryout span { display: block; margin-bottom: 8px; }
.tryout-wrapper .list-tryout a { display: inline-block; font-size: 12px; font-weight: bold; color: inherit; margin-right: 15px; }
.tryout-wrapper .list-tryout:hover a { color: #efefef }
.tryout-wrapper .list-tryout a:hover { text-decoration: underline; color: #FFF; }
.number-of-quiz .number { width: 30px; height: 30px; margin: 0 4px 4px 0; padding-top: 6px; display: inline-block; background: #23CCEF; text-align: center; color: #FFF; font-weight: bold; border-radius: 3px; }
.number-of-quiz .number.active { text-decoration: underline; }
.number-of-quiz a.number.done { background: #87CB16; }
.number-of-quiz a.number.done:hover { background: #78b414; }
.number-of-quiz a.number { background: #23CCEF; }
.number-of-quiz a.number:hover { background: #11bfe3; }
.soal h5 { font-weight: bold; }
.jawaban #jawabanNull { display: none; }
.jawaban input[name="jawaban"] { display: none; }
.jawaban label { background: #FFF; padding: 10px 15px; border-radius: 5px; border: 1px solid #efefef; display: block; font-weight: 400; }
.jawaban label:hover { cursor: pointer; background: #efefef; }
.jawaban label.hapus-jawaban { display: none; background: #FFF; text-align: right; padding: 15px 0 0; border: none; font-weight: 400; }
.jawaban label.hapus-jawaban:hover { font-weight: 600 }
.jawaban input:checked + label { background: #87CB16; color: #FFF; }
.jawaban input:checked ~ label.hapus-jawaban { display: block; }
.jawaban #jawabanNull:checked + .hapus-jawaban { display: none; }
table.review-hasil-to tr th { text-align: center; }
table.review-hasil-to tr td.jumlah-soal { text-align: center; }
table.review-hasil-to tr td.materi-ujian { text-align: center; }
.table>tbody>tr>td { font-size: 13px; }

.lingkaran {width: 200px; height: 200px; border: 5px solid #DDD; display:flex; border-radius: 50%; align-items:center; text-align:center; margin: 0 auto 20px}
